body{
    background-color: rgb(50, 50, 120);
    margin: 0px;
    padding: 0px;
}

h1{
    color: white;
    text-align: center;
}

.gameScreen{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    justify-items: center;
    gap: 100px;
    width: 100vw;
    height: 100vh;

}



.cookie button{
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border: none;
    width: 270px;
    height: 270px;
    border-radius: 360%;
}

.cookie button:hover{
    cursor: pointer;
}

#cookie img{
    width: 250px;
    height: 250px;
}

.activebtn{
    width: 300px;
    height: 300px;
}

.cimgActive {
    width: 270px;
    height: 270px;
}

.scoreScreen  {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.311);
 
}

.scoreScreen h1{
    margin-right: 40px;
}

.scoreScreen span{}


.btnContainer{
    background-color: rgb(130, 196, 224);
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
}

.upgradeClick,
.upgradeAutoBaker{
    overflow: auto;
    width: 400px;
    height: 80px;
    border-radius: 9px;
    border: 1px solid black;
    font-size: 1.2rem;
    font-weight: 600;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
}

.upgradeClick:hover,
.upgradeAutoBaker:hover {
    cursor: pointer;
}

.upgradeClick{
    background-color: bisque;
}
.upgradeClick div,
.upgradeAutoBaker div{
    margin-left: 30px;
}

.upgradeClick img,
.upgradeAutoBaker img{
    width: 30px;
    height: auto;
}

.upgradeAutoBaker{
    background-color: rgb(163, 125, 78);
}

#clickNextLevel{
    margin-left: 10px;
    color: red;
}

footer{
    position: fixed;
    bottom: 0px;
    height: 50px;
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

footer h1{
    color: black;
    margin-right: 150px;
}

footer a{
 color: rgb(77, 83, 162);
 font-size: 1.5rem;
 text-decoration: none;
}

footer a:visited{
    color: rgb(207, 43, 207);
}

footer svg{
    height: 30px;
 
}

#cookieCount{
    font-size: 2.3rem;
    color: white;
    font-weight: 700;
    margin-right: 40px;
}

#unavailable{
    cursor: none;
}

#hidden{
    display:none;
}